
    #firstpage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('./netflix\ home\ page.jpg');
    width: 101%;
    padding: 324px 3px;
    margin: -8px -8px;
}
.left{
    color: white;
    /* border: 2px solid white; */
    position: absolute;
    margin: 3px 3px;
    padding: 3px 3px;
    top: 3px;
    left: 3px;
}
.left img{
    width: 277px;
    height: 72px;
    margin: 3px 95px;
}
.mid{
    color: white;
    /* border: 2px solid white; */
    position: absolute;
    margin: 3px 3px;
    padding: 3px 3px;
    top: 210px;
    left: 348px;
    height: 374px;
    width: 835px;
}
.mid h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}
.mid p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}
.mid input{
    width: 46%;
    color: inherit;
    /* filter: opacity(0%); */
    padding: 1.5rem 1rem 0.5rem;
    margin: 2px 93px;
    color: black;
    font-weight: 900;
    font-size: 1.2rem;
    opacity: 41%;
    border:2px solid white;
    border-radius: 6px;
    
}
.btn{
    margin: 3px -81px;
    padding: 16px 3px;
    height: 62px;
    width: 215px;
    position: absolute;
    top: 224px;
    background-color: red;
    border: 2px solid red;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 1.6rem;
}
.btn:hover{
   background-color: rgb(209, 33, 33);
    border: 2px solid  rgb(209, 33, 33);

}
    
.right{
    color: white;
    /* border: 2px solid white; */
    position: absolute;
    margin: 3px 3px;
    padding: 3px 3px;
    top: 13px;
    left: 1112px;
    width: 252px;
    height: 35px;
    
}
select#\:R5ajalalbd\:{
    height: 29px;
    width: 110px;
    opacity: 41%;
    font-weight: 900;
    border: 2px px solid black;
    border-radius: 3px;
}
.btn1{
    height: 30px;
    width: 84px;
    margin: 3px 21px;
    background-color: red;
    color: white;
    font-weight: 900;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 3px;
}
.btn1:hover{
    background-color: rgb(209, 33, 33);
    border: 2px solid  rgb(209, 33, 33);
}
 /* designing the second page  */
 #secondpage{
    background-color: black;
    margin: 6px -11px;
    padding: 189px 5px;
    width: 101%;
    height: 100%;
 }
 .left1{
    color: white;
    /* border: 2px solid white; */
    position: absolute;
    top: 683px;
    left: 95px;
    width: 643px;
    height: 319px;
 }
 .left1 h1{
    font-weight: 900;
    font-size: 4.4rem;
    padding: 3px 28px;
 }
 .left1 p{
    padding: 3px 28px;
    font-size: 1.8rem;
 }
 .animation{
    color: white;
    /* border: 2px solid white; */
    position: absolute;
    top: 689px;
    left: 936px;
    height: 301px;
    width: 468px;
 }
 .animation img{
    height: 288px;
    width: 499px;

 }
 .first video{
    margin: 3px 3px;
    height: 154px;
    width: 144px;
    position: absolute;
    top: 60px;
    left: 45px;
}
 .sec video{
    margin: 3px 3px;
    height: 154px;
    width: 144px;
    position: absolute;
    top: 60px;
    left: 169px;
 }
 .third video{
    margin: 3px 3px;
    height: 154px;
    width: 144px;
    position: absolute;
    top: 60px;
    left: 288px;
 }
 /* designing the third page  */
 #thirdpage{
    background-color: black;
    margin: 6px -11px;
    padding: 189px 5px;
    width: 101%;
    height: 100%;
 }
 .left2{
   color: white;
   /* border: 2px solid white; */
   height: 253px;
   width: 551px;
   position: absolute;
   top: 1077px;
   left: 860px;
 }
 .left2 h1{
    color: white;
    font-weight: 1000;
    font-size: 3.4rem;
    margin:16px 17px;
    
 }
 .left2 p{
    margin:16px 17px;
    font-size: 1.2rem;
    padding: 19px 11px;
 }
 .picture{
    color: white;
    /* border: 2px solid white; */
    height: 303px;
    width: 283px;
    position: absolute;
    top: 1060px;
    left: 349px;
 }
 .picture img{
    height: 287px;
    width: 493px;
    margin: 3px 3px;
    position: absolute;
    top: -24px;
    left: -116px;
 }
 /* designing the fourth page  */
 #fourthpage{
    background-color: black;
    margin: 6px -11px;
    padding: 189px 5px;
    width: 101%;
    height: 100%;
 }
 .left3{
    color: white;
    /* border: 2px solid white; */
    width: 594px;
    height: 220px;
    position: absolute;
    top: 1503px;
    left: 135px;
}
 .left3 h1{
    margin: 3px 3px;
    font-weight: 900;
    font-size: 4.4rem;

 }
 .left3 p{
    padding: 3px 3px;
    font-size: 1.8rem;
 }
 .video{
    color: white;
/* border: 2px solid white; */
width: 454px;
height: 289px;
position: absolute;
left: 900px;
top:1461px ;
 }
 .video img{
    height: 321px;
    width: 468px;
    position: absolute;
    top: 3px;
    left: 3px;
 }
 .video video{
    height: 190px;
    width: 338px;
    position: absolute;
    top: -1px;
    left: 49px;
    /* z-index: -1; */
    opacity: 1;
 }
 /* designing the fifth page  */
 #fifthpage{
    background-color: black;
    margin: 6px -11px;
    padding: 189px 5px;
    width: 101%;
    height: 100%;
 }
 .left4{
    color: white;
    /* border: 2px solid white; */
    width: 594px;
    height: 220px;
    position: absolute;
    top: 1836px;
    left: 778px;
 }
 .left4 h1{
    margin: 3px 3px;
    font-weight: 900;
    font-size: 3.4rem;
 }
 .left4 p{
    font-size: 1.8rem;
 }
 .img{
    color: white;
    /* border: 2px solid white; */
    height: 321px;
    width: 468px;
    position: absolute;
    top: 1822px;
    left: 135px;
 }
 .img img{
    height: 304px;
    width: 422px;
 }
 /* faqs page  */
 #faq{
    background-color: black;
    margin: 6px -11px;
    padding: 189px 5px;
    width: 101%;
    height: 100%;
 }
 .headfaq h1{
    color: white;
    text-align: center;
    /* border: 2px solid white; */
    position: absolute;
    top: 2208px;
    left: 320px;
    font-size: 4.5rem;
 }
 .btfaq{
    display: flex;
    flex-direction: column;
    margin: 21px 195px;
    padding: 10px 92px;
    width: 1072px;
    height: 69px;
    font-size: 1.8rem;
    cursor: pointer;
    background-color: rgb(108 102 102 / 50%);
    color: white;
    border: 2px solid rgb(108 102 102 / 50%);
 }
 .btfaq:hover{
    background-color:rgba(145, 141, 141, 0.5) ;
 }
.conc h3{
    color: white;
    text-align: center;
    margin: 36px 3px;
    font-size: 1.8rem;
}
.emailconc input{
    width: 29%;
    color: inherit;
    /* filter: opacity(0%); */
    padding: 0.5rem 1rem 0.5rem;
    margin: 2px 331px;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    background-color: black;
    border:2px solid white;
    border-radius: 6px;
}
.btstart{
    margin: 3px -81px;
    padding: 9px 3px;
    height: 49px;
    width: 166px;
    position: absolute;
    top: 3014px;
    left: 919px;
    background-color: red;
    border: 2px solid red;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 1.6rem;
}
.btstart:hover{
   background-color: rgb(209, 33, 33);
    border: 2px solid  rgb(209, 33, 33);

}
/* designing contact page  */
#contact{
    background-color: black;
    margin: -5px -11px;
    padding: 189px 5px;
    width: 101%;
    height: 100%;
    font-size: 1rem;
   
}
.ques p{
    color: grey;
    /* border: 2px solid white; */
    position: absolute;
    top: 3331px;
    left: 57px;
    
}
.ques  a{
    color: grey;
    position: absolute;
    top: 0px;
    left: 178px;
}
.list1 a{
    margin: 3px 54px;
    padding: 3px 3px;
    display: flex;
    flex-direction: column;
    color: grey;

}
  select#\:R5ajalalbe\: {
    height: 29px;
    width: 110px;
   background-color: black;
    font-weight: 900;
    border: 2px px solid white;
    border-radius: 3px;
    margin: 3px 3px;
    position: absolute;
    top: 3621px;
    left: 55px;
    color: white;
}
.lastline p{
    color: grey;
    position: absolute;
    top: 3642px;
    left: 60px;
}
.list2{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 383px;
    top: 3449px;
}
.list2 a{
    color: grey;
    padding: 4px 3px;

}
.list3{
   display: flex;
    flex-direction: column;
    position: absolute;
    left: 697px;
    top: 3449px;
}
.list3 a{
   color: grey;
   padding: 4px 3px;
}
.list4{
   display: flex;
    flex-direction: column;
    position: absolute;
    left: 1041px;
    top: 3449px;
}
.list4 a{
   color: grey;
   padding: 4px 3px;
}